* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error {
  margin-top: 0.4rem;
  color: rgb(211, 17, 17);
  font-size: 14px;
}